[submodule "themes/zola-terminal"]
	path = themes/zola-terminal
	url = https://github.com/pawroman/zola-theme-terminimal.git
[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
